*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

header a.logo{
    font-weight: 700;
    font-size: 3em;
    text-decoration: none;
    padding: 20px 120px;
    color:#000;
    flex-grow: 1;
}

header ul{
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
}

header ul li{
    margin-left: 50px;
    list-style: none;
    padding: 40px;
    
}

header ul li a{
    font-weight: 400;
    font-size: larger;
    text-decoration: none;
    color:blueviolet;
    padding:10px;
}

header ul li a:hover{
    color:#fff;
    background: blueviolet;
    border-radius: 20%;
}
@media(min-width:200px) and (max-width:952px){
    header ul{
        display: none;
    }
}
.wrapper {
    display: flex;
    
}
.social-links{
    width:20%;
}
.content{
    width: 40%;
}

.profile{
    width:40%;
}
@media (min-width:200px) and (max-width:1130px){
    .wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .social-links{
        width:100%;
    }
    .content{
        width: 100%;
    }
    
    .profile{
        width:100%;
        align-self: center;
    }
}

.wrapper .content .info{
    padding:110px;
}

.wrapper .content .info h1{
    font-size: 300%;
    padding-bottom: 20px ;
}

.wrapper .content .info h3{
    color:rgb(135, 101, 167);
    font-size: 150%;
    padding-bottom: 20px;
}

.wrapper .content .info p{
    width:80%;
    font-size: larger;
    word-spacing: 2.5px;
    line-height: 33px;
}

.wrapper .content .info button{
    margin-top: 80px;
    background-color: blueviolet;
    color: #fff;
    padding: 15px;
    border-radius: 10px;
}
.wrapper .content .info button a{
    text-decoration: none;
    color:#fff;
    font-size: x-large;
}
/* .wrapper .content .info button a:hover{
    color:blueviolet;
} */
.wrapper .content .info button:hover{
    color:blueviolet;
    border: blueviolet 2px solid;
    background: #fff;
    cursor: pointer;
}

.wrapper .profile .profile-img img{
    width:80%;
    padding:100px 50px;
    border-radius: 50%;
}

.social-links{
    position: relative;
    
}
.social-links .links-bar{
    position: absolute;
    top:18%;
    left: 50%;
}
.social-links .links-bar img{
    width: 35px;
    height: 35px;
    margin: 50px 0px ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;    

}
@media (min-width:200px) and (max-width:1130px){
    .social-links{
        position: relative;
        width:100%;
    }
    .social-links .links-bar{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 80%;
        left: 20%;
        justify-content: flex-start;
    }
    .social-links .links-bar img{
        width: 35px;
        height: 35px;
        margin: 25px;
        display: flex;   
    }
}
